.App {
  text-align: center;
  background-color: #3b141c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #f3961c;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    color: #f3961c;

  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f3961c;
}

.App-link {
  color: #f3961c;
  filter: drop-shadow(10 ,20, 20,rgb(220, 215, 169));
  background-color: #000000;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.preloder{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 833px;
  /* margin: 50%; */
  background-color: #3b141c;
  height: 100%;

}
